/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

/* Global Rules */
:root {
  /* Layout */
  --site-width: 1440px;
  --site-width-mobile: 375px;

  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: 'Outfit', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: var(--soft-blue);
}

/* Transitions */
a,
.card,
.card .img,
.overlay,
.eye img,
.custom-text {
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--white);
}

body {
  font-family: var(--font-family);
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  line-height: normal;
}

.container {
  width: 100%;
  max-width: var(--site-width);
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--very-dark-blue-main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 21.875rem;
  width: 100%;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  background-color: var(--very-dark-blue-card-bg);
  border-radius: 0.9375rem;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.10);
}

.card .img {
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 18.875rem;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.card .img .hover:hover .overlay,
.card .img .hover:hover .eye img {
  opacity: 0.503;
  visibility: visible;
}

.card .img .hover:hover .eye img {
  opacity: 1;
}

.card .img .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card .img .overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--cyan);
  z-index: 2;
}

.card .img .eye {
  width: 100%;
  height: 100%;
}

.card .img .eye img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  z-index: 3;
}

.card .img,
.card .info .description {
  margin-bottom: 1.5rem;
}

.card .img img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info .title {
  margin-bottom: 1rem;
}

.card .info .title a:hover,
.card .info .avatar .name-avatar a:hover {
  color: var(--cyan);
}

.card .info .description * {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.625rem;
  color: var(--soft-blue);
}

.card .info .crypto {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--very-dark-blue-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .info .crypto .icon-text,
.card .info .crypto .clock-text {
  display: flex;
  align-items: center;
}


.card .info .crypto .icon-text .icon {
  width: 0.6875rem;
  height: 1.125rem;
}

.card .info .crypto .icon-text {
  gap: 0.41rem;
}

.card .info .crypto .icon-text .text * {
  color: var(--cyan);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
}

.card .info .crypto .clock-text .icon {
  width: 1rem;
  height: 1rem;
}

.card .info .crypto .clock-text .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info .crypto .clock-text {
  display: flex;
  align-items: center;
  gap: 0.48125rem;
  color: var(--soft-blue);
}

.card .info .crypto .clock-text .text * {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
}

.card .info .avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card .info .avatar .img-avatar {
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 2.0625rem;
  border: 1px solid var(--white);
}

.card .info .avatar .img-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info .avatar .name-avatar * {
  color: var(--soft-blue);
  font-size: 1rem;
  font-weight: 400;
}

.card .info .avatar .name-avatar .custom-text {
  color: var(--white);
  padding-left: 0.31rem;
}

/* Media Query */
@media (max-width: 375px) {
  .card {
    margin: 0 auto;
    max-width: 20.375rem;
    width: 100%;
    padding: 1.5rem 1.56rem 1.5rem 1.5rem;
  }

  .card .img {
    width: 100%;
    max-height: 17.375rem;
    height: 100%;

  }

  .card .info .title {
    margin-bottom: 0.75rem;
  }

  .card .info .description {
    margin-bottom: 1rem;
  }

  .card .info .crypto {
    padding-bottom: 1rem;
  }

  .card .info .crypto .icon-text .text *,
  .card .info .crypto .clock-text .text *,
  .card .info .avatar .name-avatar * {
    font-size: 0.9375rem;
  }

}